@use "config/variables" as v;


.flex {
    @include v.flex;
}

.min_container {
    @include v.min;
}
.container {
    min-width: 1020px;
    margin: 0 auto;
    width: 79%;
}
.smallest_container {
    @include v.min_min;
}
br.sp {
    display: none;
}
br.pc {
    display: block;
}
.pc {
    display: block;
}
.sp {
    display: none;
}
.non_image {
    background-image: url(../images/common/non_image.jpg);
}
.flex--start {
    justify-content: flex-start;
}
.transition {
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
}

