@use "config/variables" as v;


.flex {
    @include v.flex;
}

.min_container {
    @include v.min;
}
.container {
    min-width: 1020px;
    margin: 0 auto;
    width: 79%;
}
.smallest_container {
    @include v.min_min;
}
br.sp {
    display: none;
}
br.pc {
    display: block;
}
.pc {
    display: block;
}
.sp {
    display: none;
}
.non_image {
    background-image: url(../images/common/non_image.jpg);
}
.flex--start {
    justify-content: flex-start;
}
.transition {
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
}
@keyframes hoverRight {
    from {
        left: calc(-100% + 10px);
    }
    to {
        left: calc(100% - 10px);
    }
}
.common__btn {
    font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
    color: #252014;
    font-weight: 500;
    display: inline-block;
    p {
        writing-mode: horizontal-tb!important;
    }
    div.flex {
        position: relative;
        width: 64px;
        
        span {
            &:nth-of-type(1) {
                width: 64px;
                display: block;
                height: 1px;
                background-color: #252014;
                margin: auto;
            }
            &:nth-of-type(2) {
                width: 10px;
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                top: -1px;
                height: 3px;
                border-radius: 10px;
                background-color: #252014;
                margin: auto;
                animation: hoverRight 1.5s ease-out infinite;
            }
        }
    }
}

/*-------------------------
ヘッダー
-------------------------*/
#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    .header__container {
        width: 91.6%;
        margin: auto;
        & > .flex {
            justify-content: space-between;
            align-items: flex-start;
        }
        a.header__logo {
            width: 100px;
            img {
                width: 90%;
            }
        }
        .header__right {
            .flex {
                
                a.header__contact {
                    width: 200px;
                    display: block;
                    background-color: #BB9B52;
                    color: #fff;
                    font-size: clamp(12px, 0.982rem + 1.09vw, 1.8rem);
                    text-align: center;
                    padding: 27px 0;
                    letter-spacing: 0.08em;
                }
                #toggle {
                    width: 80px;
                    position: relative;
                    div {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        height: 13px;
                        transform: translate(-50%,-50%);
                        span {
                            width: 40px;
                            height: 2px;
                            display: block;
                            background-color: #BB9B52;
                            &:nth-of-type(2) {
                                transform: translateY(8px);
                            }
                        }
                    }
                }
            }
        }
    }
}
