@use "./config/variables" as v;
@use "./common" as c;

/*-------------------------
メインビジュアル
-------------------------*/
#mv {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #252014;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .mv__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        #videoTop {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }
        .mv__catch {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
            z-index: 50;
            transform: translate(-50%,-50%);
            img {
                max-width: 310px;
                width: 16.14%;
                margin-bottom: 2.4rem;
            }
        }
        p.catch {
            font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
            letter-spacing: 0.08em;
            line-height: 1.7;
            text-align: center;
            color: #fff;
            font-weight: 400;
            @media screen and (max-width: 768px) {
                font-size: 26px;
                left: 40px;
                top: auto;
                bottom: 10%;
            }
        }
    }
    .scroll {
        text-align: center;
        color: #fff;
        font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 24px;
        width: 60px;
        text-align: center;
        p {
            margin-bottom: 10px;
        }
        @keyframes moveDown {
            from {
                top: 0;
            }
            to {
                top: calc(100% - 10px);
            }
        }
        div {
            position: relative;
            span {
                &:nth-of-type(1) {
                    width: 1px;
                    display: block;
                    height: 40px;
                    background-color: #fff;
                    margin: auto;
                }
                &:nth-of-type(2) {
                    width: 3px;
                    position: absolute;
                    display: block;
                    left: 0;
                    right: 0;
                    top: 0;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #fff;
                    margin: auto;
                    animation: moveDown 1.5s ease-out infinite;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        p.catch {
            font-size: 30px;
        }
    }
}


/*-------------------------
    コンセプト
-------------------------*/
#concept {
    padding-top: 16rem;
    
    .concept__container {
        width: 30%;
        margin: auto;
        position: relative;
        & > .flex {
            align-items: flex-start;
            justify-content: center;
        }
        h2 {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
            line-height: 1.7;
            letter-spacing: 0.3em;
            font-weight: bold;
            order: 2;
            margin-left: 5.5rem;
        }
        p.concept__text {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            order: 1;
            font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
            line-height: 2.56em;
            letter-spacing: 0.04em;
            span {
                -webkit-text-combine: horizontal;
                -ms-text-combine-horizontal: all;
                text-combine-upright: all;
            }
        }
        a.common__btn {
            transform: rotate(90deg);
            position: absolute;
            left: -25%;
            bottom: 20%;
        }
    }

    #megureno {
        padding-top: 26rem;
        padding-bottom: 11rem;
        position: relative;
        .megu__container {
            width: 70.8%;
            margin-right: auto;
            & > .flex {
                justify-content: flex-start;
                align-items: flex-start;
            }
            .megureno__img {
                width: 64.7%;
                padding-top: 43%;
                @include v.bg;
                background-image: url(./../images/top/megureno_img.jpg);
            }
            .megureno__content {
                margin-left: 12rem;
                strong {
                    display: block;
                    font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
                    margin-bottom: 4rem;
                    line-height: 1;
                }
                p.megureno__text {
                    font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
                    line-height: 2.56;
                    color: #252014;
                    letter-spacing: 0.04em;
                    margin-bottom: 4rem;
                }
            }
        }
        .megureno__bg {
            position: absolute;
            width: 63.47%;
            bottom: 30%;
            right: 0;
        }
    }

}


/*-------------------------
    NEWS
-------------------------*/
#news {
    background-color: #BB9B52;
    padding-top: 5.6rem;
    padding-bottom: 6.4rem;
    .news__container {
        width: 62.5%;
        margin: auto;
        align-items: flex-start;
        .news__wrap {
            width: 34.16%;
        }
        
        .blog__wrap {
            width: 42.5%;
        }
        .news__content {
            h2 {
                font-size: clamp(22px, 1.836rem + 1.82vw, 3.2rem);
                color: #fff;
                font-weight: 500;
                margin-bottom: 2.4rem;
                span {
                    font-size: clamp(11px, 0.855rem + 0.73vw, 1.4rem);
                    font-weight: 400;
                    margin-left: 16px;
                }
            }
            ul {
                li {
                    margin-bottom: 24px;
                    .flex {
                        justify-content: flex-start;
                        margin-bottom: 8px;
                        span.new {
                            display: inline-block;
                            background-color: #fff;
                            color: #BB9B52;
                            font-size: 14px;
                            width: 42px;
                            text-align: center;
                            margin-right: 10px;
                            font-weight: 500;
                        }
                        span.time {
                            font-size: 14px;
                            color: #fff;
                            font-weight: 500;
                        }
                    }
                    h3 {
                        font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
                        color: #fff;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin-top: 8px;
                        padding-bottom: 8px;
                        border-bottom: 1px solid #fff;
                    }
                    .blog__content {
                        justify-content: space-between;
                    }
                    .blog__thumb {
                        width: 16.6%;
                        padding-top: 16.6%;
                        @include v.bg;
                    }
                    .blog__info {
                        width: 80%;
                    }
                }
            }
        }
    }
}

/*-------------------------
    gallery
-------------------------*/
#gallery {
    width: 100%;
    padding-top: 14rem;
    .flex {
        flex-wrap: nowrap;
        align-items: stretch;
        margin-bottom: 1%;
        margin: 0 0.5% 1% 0.5%;
        img {
            // object-fit: cover;
            flex: 1;
            max-width: 100%;
            height: auto;
            margin: 0 0.5%;
        }
    }
    .colum01 {
        img {
            &:nth-of-type(1) {
                width: 20.83%;
            }
            &:nth-of-type(2) {
                width: 29.166%;
            }
            &:nth-of-type(3) {
                width: 20.83%;
            }
            &:nth-of-type(4) {
                width: 25%;
            }
        }
    }
    .colum02 {
        img {
            &:nth-of-type(1) {
                width: 18.95%;
            }
            &:nth-of-type(2) {
                width: 19.01%;
            }
            &:nth-of-type(3) {
                width: 19.01%;
            }
            &:nth-of-type(4) {
                width: 19.01%;
            }
            &:nth-of-type(5) {
                width: 19.01%;
            }
        }
    }
    .colum03 {
        img {
            &:nth-of-type(1) {
                width: 25%;
            }
            &:nth-of-type(2) {
                width: 29.166%;
            }
            &:nth-of-type(3) {
                width: 20.83%;
            }
            &:nth-of-type(4) {
                width: 20.833%;
            }
        }
    }
}


/*-------------------------
    staff
-------------------------*/
#staff {
    padding-top: 16rem;
    padding-bottom: 17rem;
    background-image: url(./../images/top/megureno_bg.png);
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: bottom -13vw left -75%;
    .staff__container {
        width: 81.25%;
        margin-left: auto;
        .staff__slide {
            .slick-next {
                display: none!important;
            }
            div {
                img {
                    width: 100%;
                }
            }
        }
    }
}