.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}

.min_container {
  width: 960px;
  margin: 0 auto;
}

.container {
  min-width: 1020px;
  margin: 0 auto;
  width: 79%;
}

.smallest_container {
  width: 640px;
  margin: 0 auto;
}

br.sp {
  display: none;
}

br.pc {
  display: block;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.non_image {
  background-image: url(../images/common/non_image.jpg);
}

.flex--start {
  justify-content: flex-start;
}

.transition {
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}

/*-------------------------
    header
-------------------------*/
#header {
  width: 55.2%;
  margin-left: auto;
  position: fixed;
  min-width: 800px;
  top: 0;
  right: 0;
  z-index: 9999;
}
#header .header__wrap #gnav ul li {
  margin-right: 4rem;
  position: relative;
}
#header .header__wrap #gnav ul li a {
  color: #000;
  font-weight: 700;
  font-size: clamp(1.4rem, 1.182rem + 1.09vw, 2rem);
  letter-spacing: 0.15em;
}
#header .header__wrap #gnav ul li a img {
  margin-left: 10px;
  transform: rotate(180deg);
  transition: all 0.3s;
}
#header .header__wrap #gnav ul li ul.hidden {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  font-family: "din";
}
#header .header__wrap #gnav ul li ul.hidden li {
  margin: 2rem 0 0 0;
}
#header .header__wrap #gnav ul li ul.hidden li a {
  display: block;
}
#header .header__wrap #gnav ul li.has-submenu:hover a img {
  transform: rotate(0deg);
}
#header .header__wrap #gnav ul li:hover .hidden {
  display: block;
}
#header .header__wrap a.header__contact {
  background-color: #DC000C;
  text-align: center;
  color: #fff;
  display: block;
  width: 28%;
  max-width: 300px;
  padding: 4rem 0;
  border-bottom-left-radius: 30px;
}
@media screen and (max-width: 768px) {
  #header .header__wrap a.header__contact {
    display: none;
  }
}
#header .header__wrap a.header__contact .flex {
  justify-content: center;
}
#header .header__wrap a.header__contact .flex img {
  padding-right: 1.5rem;
}
#header .header__wrap a.header__contact .flex strong {
  font-family: "din";
  font-size: clamp(2.1rem, 1.773rem + 1.64vw, 3rem);
}
#header .header__wrap a.header__contact p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

/*-------------------------
    sp_fixed
-------------------------*/
.sp__bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
}
.sp__bottom a.bottom__contact {
  background-color: #DC000C;
  text-align: center;
  color: #fff;
  display: block;
  width: 50%;
  max-width: 300px;
  padding: 22px 0 22px 0;
}
.sp__bottom a.bottom__contact .flex {
  justify-content: center;
}
.sp__bottom a.bottom__contact .flex img {
  padding-right: 10px;
  width: 20px;
}
.sp__bottom a.bottom__contact .flex strong {
  font-family: "din";
  font-size: 25px;
}
.sp__bottom a.bottom__contact p {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.sp__bottom a.more {
  width: 50%;
  background-color: #EDEDED;
  justify-content: center;
  position: relative;
}
.sp__bottom a.more p {
  color: #DC000C;
  font-size: 14px;
  font-family: "din";
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
}
.sp__bottom a.more span {
  color: #fff;
  width: 74px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: -14%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50px;
  background-color: #DC000C;
  padding: 6px 0;
}
@media screen and (max-width: 768px) {
  .sp__bottom {
    display: block;
  }
}

/*-------------------------
    footer
-------------------------*/
#footer {
  background: #000;
  padding: 7.6rem 0 8.1rem 0;
}
@media screen and (max-width: 768px) {
  #footer {
    padding: 50px 0;
  }
}
#footer p {
  color: #fff;
  font-size: clamp(1.7rem, 1.445rem + 1.27vw, 2.4rem);
  text-align: center;
  letter-spacing: 0.15em;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  #footer p {
    font-size: 20px;
    margin-bottom: 43px;
  }
}
#footer a.footer__logo {
  width: 320px;
  display: block;
  margin: auto;
}
@media screen and (max-width: 768px) {
  #footer a.footer__logo {
    width: 172px;
  }
}
#footer a.footer__logo img {
  width: 100%;
}
#footer a.footer__link {
  margin-top: 3rem;
  background-color: #fff;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  display: block;
  border-radius: 100px;
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  #footer a.footer__link {
    margin-top: 43px;
    padding: 16px 0;
    margin-bottom: 50px;
  }
}
#footer a.footer__link .flex {
  justify-content: center;
}
#footer a.footer__link span {
  color: #000;
  font-size: clamp(1.2rem, 1.018rem + 0.91vw, 1.7rem);
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  #footer a.footer__link span {
    font-size: 17px;
  }
}
#footer .sns {
  margin-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  #footer .sns {
    margin-bottom: 100px;
  }
}
#footer .sns > .flex {
  justify-content: center;
}
#footer .sns > .flex span {
  font-size: clamp(1.4rem, 1.182rem + 1.09vw, 2rem);
  color: #fff;
  letter-spacing: 0.1em;
  margin-right: 3rem;
}
@media screen and (max-width: 768px) {
  #footer .sns > .flex span {
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  #footer .sns > .flex ul {
    width: 183px;
  }
}
#footer .sns > .flex ul li {
  margin-right: 1rem;
}
#footer small {
  font-family: "din";
  font-size: 14px;
  display: block;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #footer small {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  .container {
    min-width: 1px;
    width: 86%;
  }
  .order_1 {
    order: 2;
  }
  .order_2 {
    order: 1;
  }
  br.sp {
    display: block;
  }
  a.common_btn {
    margin: auto;
  }
  .smallest_container {
    width: 89%;
  }
  .slick-next {
    width: 30px;
    height: 30px;
    background-image: url(/images/common/point_next.svg) !important;
    background-size: contain;
  }
  .slick-next:before {
    content: "";
  }
  .slick-prev {
    width: 30px;
    height: 30px;
    background-image: url(/images/common/point_prev.svg) !important;
    background-size: contain;
  }
  .slick-prev:before {
    content: "";
  }
}
.course__point .point__thumb {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 57.7%;
  padding-top: 35.25%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.course__point .point__content {
  padding-top: 7rem;
  width: 36%;
}
.course__point .point__content h2 {
  color: #214F6A;
  margin-bottom: 4rem;
}
.course__point .point__content h2 span {
  font-size: clamp(15px, 0.955rem + 2.73vw, 3rem);
  display: block;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.course__point .point__content h2 strong {
  display: block;
  font-size: clamp(30px, 1.909rem + 5.45vw, 6rem);
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
.course__point .point__content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}
.course__point .flex {
  align-items: flex-start;
}
.course__point .left__container {
  width: 84.375%;
  margin-right: auto;
  margin-bottom: 23rem;
}
.course__point .right__container {
  margin-bottom: 23rem;
  width: 84.375%;
  margin-left: auto;
}
.course__point .right__container .point__thumb {
  order: 2;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.course__point .right__container .point__content {
  order: 1;
}

a.back {
  text-align: center;
  font-family: "Montserrat";
  font-size: clamp(17px, 0.09rem + 0.08vw, 0.15rem);
  color: #000;
}
a.back .flex {
  justify-content: center;
}
a.back .flex span {
  margin-left: 2rem;
}
a.back .flex img {
  width: 1.56%;
}
@media screen and (max-width: 768px) {
  a.back .flex img {
    width: 30px;
  }
}/*# sourceMappingURL=index.css.map */