@use "./../config/variables" as v;
@use "./../common" as c;

.page__mv {
    position: relative;
    margin-bottom: 10rem;
    padding-top: 20rem;
    img {
        width: 63.47%;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    @media screen and (max-width: 768px) {
        padding-top: 40px;
        margin-bottom: 40px;
    }
    .mv {
        width: 81.25%;
        @include v.bg;
        margin-left: auto;
        padding-top: 23%;
        z-index: 50;
        position: relative;
        @media screen and (max-width: 768px) {
            width: 92.753%;
            padding-top: 31.25%
        }
    }
}
.reform__mv {
    .mv {
        background-image: url(./../../images/reform/reform_mv.jpg);
    }
}
.reform__content {
    margin-bottom: 12rem;
}
.page__container {
    width: 62.5%;
    margin: auto;
    @media screen and (max-width: 768px) {
        width: 85%;
    }
}

h1.page__ttl {
    font-size: clamp(56px, 4.727rem + 4.36vw, 8rem);
    line-height: 1;
    margin-bottom: 6.4rem;
    font-weight: 500;
    @media screen and (max-width: 768px) {
        font-size: 40px;
        margin-bottom: 64px;
    }
    span {
        font-size: clamp(1.7rem, 1.445rem + 1.27vw, 2.4rem);
        line-height: 1;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
}

ul.works__cat {
    justify-content: flex-start;
    margin-bottom: 6.4rem;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        margin-bottom: 64px;
    }
    li {
        margin-right: 2.4rem;
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
            margin-right: 10px;
            margin-bottom: 15px;
        }
        a {
            color: #BB9B52;
            border-radius: 25px;
            border: 1px solid #BB9B52;
            background-color: #fff;
            text-align: center;
            padding: 5px 32px;
            font-weight: bold;
            transition: all 0.3s;
            font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
            @media screen and (max-width: 768px) {
                font-size: 14px;
                padding: 5px 5px;
            }
            &.active {
                color: #fff;
                background-color: #BB9B52;
            }
            &:hover {
                color: #fff;
                background-color: #BB9B52;
            }
        }
    }
}
.works__content {
    ul {
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        li {
            width: 29.5%;
            margin-right: 5.75%;
            margin-bottom: 4rem;
            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
            .works__thumb {
                width: 100%;
                padding-top: 67.7%;
                @include v.bg;
                margin-bottom: 16px;
            }
            .works__time {
                justify-content: flex-start;
                margin-bottom: 8px;
                span.new {
                    display: inline-block;
                    background-color: #BB9B52;
                    color: #fff;
                    font-size: 14px;
                    width: 42px;
                    text-align: center;
                    margin-right: 10px;
                    font-weight: 500;
                    line-height: 1.2;
                }
                span.time {
                    font-size: 14px;
                    color: #252014;
                    font-weight: 500;
                }
            }
            a {
                color: #252014;
            }
            h2 {
                font-size: clamp(13px, 0.918rem + 0.91vw, 1.6rem);
                line-height: 1.5;
                color: #252014;
                margin-bottom: 16px;
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
            }
            ul.tag {
                flex-wrap: wrap;
                li {
                    font-size: clamp(11px, 0.855rem + 0.73vw, 1.4rem);
                    color: #707070;
                    font-weight: bold;
                    width: auto;
                    margin-right: 10px;
                }
            }
        }
    }
}
.voice__content {
    ul {
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        li {
            width: 21.32%;
            margin-right: 3.43%;
            margin-bottom: 4rem;
            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
            .works__thumb {
                width: 100%;
                padding-top: 67.7%;
                @include v.bg;
                margin-bottom: 16px;
            }
            .works__time {
                justify-content: flex-start;
                margin-bottom: 8px;
                span.new {
                    display: inline-block;
                    background-color: #BB9B52;
                    color: #fff;
                    font-size: 14px;
                    width: 42px;
                    text-align: center;
                    margin-right: 10px;
                    font-weight: 500;
                    line-height: 1.2;
                }
                span.time {
                    font-size: 14px;
                    color: #252014;
                    font-weight: 500;
                }
            }
            a {
                color: #252014;
            }
            h2 {
                font-size: clamp(13px, 0.918rem + 0.91vw, 1.6rem);
                line-height: 1.5;
                color: #252014;
                margin-bottom: 16px;
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
            }
            ul.tag {
                flex-wrap: wrap;
                li {
                    font-size: clamp(11px, 0.855rem + 0.73vw, 1.4rem);
                    color: #707070;
                    font-weight: bold;
                    width: auto;
                    margin-right: 10px;
                }
            }
        }
    }
}

h3.reform__ttl {
    margin-bottom: 3.2rem;
    @media screen and (max-width: 768px) {
        margin-bottom: 40px;
    }
    p {
        font-size: clamp(22px, 1.836rem + 1.82vw, 3.2rem);
        font-weight: 500;
        line-height: 1.1;
        margin-bottom: 6px;
    }
    span {
        font-size: clamp(12px, 1.127rem + 0.36vw, 1.4rem);
        line-height: 1;
        display: block;
    }
}
/*-------------------------
    reform
-------------------------*/
.intro__wrap {
    font-size: clamp(13px, 0.918rem + 0.91vw, 1.6rem);
    line-height: 2.5625em;
}
.content__wrap {
    width: 81.25%;
    margin-right: auto;
    margin-top: 16rem;
    margin-bottom: 18rem;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .content__img {
        @include v.bg;
        width: 60.06%;
        padding-top: 64%;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    .content__img--reform {
        background-image: url(../../images/reform/reform_img.jpg);
    }
    .content__img--renovation {
        background-image: url(../../images/renovation/renovation_img.jpg);
    }
    .content__img--estate {
        background-image: url(../../images/estate/estate_img.jpg);
    }
    .content__img--staff {
        background-image: url(../../images/staff/staff_img.jpg);
    }
    .content__img--right {
        background-image: url(../../images/estate/estate_img02.jpg);
        order: 2
    }
    .content__text__wrap {
        margin-left: 8rem;
        width: 34.8%;
        @media screen and (max-width: 768px) {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        & > p {
            font-size: clamp(13px, 0.918rem + 0.91vw, 1.6rem);
            line-height: 2.5625em;
            margin-bottom: 6rem;
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
    .content__text__wrap--left {
        order: 1;
        margin-left: 0;
        margin-right: 8rem;
        @media screen and (max-width: 768px) {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            order: 2;
        }
    }
}
.content__wrap--staff {
    width: 70.833%;
    margin-bottom: 4rem;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    .content__img {
        width: 65.514%;
        padding-top: 41.17%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .content__text__wrap {
        margin-left: 12rem;
        width: 27.22%;
        @media screen and (max-width: 768px) {
            width: 85%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.content__wrap--right {
    margin-left: auto;
    margin-right: 0;
}
/*-------------------------
    contact
-------------------------*/

#contact {
    width: 100%;
    .contact__container {
        .flex {
            .contact__thumb {
                width: 50%;
                @include v.bg;
                background-image: url(../../images/common/contact_bg.jpg)!important;
            }
            .contact__content {
                width: 50%;
                padding-top: 6.4rem;
                padding-bottom: 6.4rem;
                @include v.bg;
                background-image: url(../../images/common/contact.jpg)!important;
                .contact__content__wrap {
                    width: 40%;
                    margin-left: 12rem;
                    p {
                        font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
                        line-height: 1.875em;
                        margin-bottom: 3.2rem;
                    }
                }
            }
        }
    }
}


.renovation__kinds {
    padding: 7.8rem 0;
    @include v.bg;
    background-image: url(./../../images/renovation/kinds_bg.jpg);
    @media screen and (max-width: 768px) {
        padding: 80px 0;
        margin-top: 80px;
    }
    .kinds__container {
        width: 62.5%;
        margin: auto;
        @media screen and (max-width: 768px) {
            width: 85%;
        }
        .flex {
            align-items: flex-start;
            .kinds__content {
                width: 50%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
                figure {
                    margin-bottom: 3.2rem;
                    @media screen and (max-width: 768px) {
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }
                p {
                    font-size: clamp(12px, 1.055rem + 0.73vw, 1.6rem);
                    line-height: 1.875em;
                    margin-bottom: 4rem;
                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                        margin-bottom: 30px;
                    }
                }
                a {
                    width: 75%;
                    border-radius: 50px;
                    color: #fff;
                    font-size: clamp(12px, 0.982rem + 1.09vw, 1.8rem);
                    background-color: #BB9B52;
                    text-align: center;
                    display: block;
                    padding: 2rem 0;
                    margin-bottom: 3rem;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        font-size: 18px;
                        padding: 20px 0;
                    }
                }
            }
            .one__house {
                box-sizing: border-box;
                padding-right: 11rem;
                border-right: 2px solid #BB9B52;
                @media screen and (max-width: 768px) {
                    border-right: 0;
                    margin-right: 0;
                    padding-right: 0;
                    margin-bottom: 60px;
                }
                figure {
                    img {
                        width: 200px;
                    }
                }

            }
            .seventys__one__house {
                box-sizing: border-box;
                padding-left: 11rem;
                figure {
                    img {
                        width: 235px;
                    }
                }
            }
            .one__estate {
                box-sizing: border-box;
                padding-left: 11rem;
                figure {
                    img {
                        width: 240px;
                    }
                }
                div {
                    margin-bottom: 4rem;
                }
            }
        }
    }
}

.pagination_wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    .pagination {
        font-size: clamp(13px, 1.191rem + 0.55vw, 16px);
        justify-content: center;
        a {
            font-size: clamp(13px, 1.191rem + 0.55vw, 16px);
            color: #000;
            margin: 0 2rem;
            @media screen and (max-width: 768px) {
                margin: 0 15px;
            }
            &.first {
                display: none;
            }
            &.last {
                display: none;
            }
            &.current {
                border-bottom: 2px solid #BB9B52;
                margin-top: 2px;
            }
        }
        span.dots {
            &:last-of-type {
                display: none;
            }
        }
        .page_num {
            display: none;
        }
    }
}