@use "./../config/variables" as v;
@use "./../common" as c;

.page__mv {
    position: relative;
    margin-bottom: 10rem;
    img {
        width: 63.47%;
        position: absolute;
        top: 0;
        right: 0;
    }
    padding-top: 20rem;
    .mv {
        width: 81.25%;
        @include v.bg;
        margin-left: auto;
        padding-top: 23%;
        z-index: 50;
        position: relative;
    }
}
.page__container {
    width: 62.5%;
    margin: auto;
}

h1.page__ttl {
    font-size: clamp(56px, 4.727rem + 4.36vw, 8rem);
    line-height: 1;
    margin-bottom: 6.4rem;
    span {
        font-size: clamp(1.7rem, 1.445rem + 1.27vw, 2.4rem);
        line-height: 1;
    }
}

ul.works__cat {
    justify-content: flex-start;
    margin-bottom: 6.4rem;
    li {
        margin-right: 2.4rem;
        a {
            color: #BB9B52;
            border-radius: 25px;
            border: 1px solid #BB9B52;
            text-align: center;
            padding: 5px 32px;
            font-weight: bold;
            font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
        }
    }
}

.works__content {
    ul {
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        li {
            width: 29.5%;
            margin-right: 5.75%;
            margin-bottom: 4rem;
            &:nth-child(3n) {
                margin-right: 0;
            }
            .works__thumb {
                width: 100%;
                padding-top: 67.7%;
                @include v.bg;
                margin-bottom: 16px;
            }
            .works__time {
                justify-content: flex-start;
                margin-bottom: 8px;
                span.new {
                    display: inline-block;
                    background-color: #BB9B52;
                    color: #fff;
                    font-size: 14px;
                    width: 42px;
                    text-align: center;
                    margin-right: 10px;
                    font-weight: 500;
                    line-height: 1.2;
                }
                span.time {
                    font-size: 14px;
                    color: #252014;
                    font-weight: 500;
                }
            }
            a {
                color: #252014;
            }
            h2 {
                font-size: clamp(13px, 0.918rem + 0.91vw, 1.6rem);
                line-height: 1.5;
                color: #252014;
                margin-bottom: 16px;
            }
            ul.tag {
                flex-wrap: wrap;
                li {
                    font-size: clamp(11px, 0.855rem + 0.73vw, 1.4rem);
                    color: #707070;
                    font-weight: bold;
                    width: auto;
                    margin-right: 10px;
                }
            }
        }
    }
}