@use "./../config/variables" as v;
@use "./../common" as c;

.concept__mv {
    .mv {
        background-image: url(./../../images/concept/concept_mv.jpg);
    }
}
.page__container {
    width: 65%;
}

h3.concept__ttl {
    margin-bottom: 3.2rem;
    @media screen and (max-width: 768px) {
        margin-bottom: 32px;
    }
    p {
        font-size: clamp(22px, 1.836rem + 1.82vw, 3.2rem);
        font-weight: 500;
        line-height: 1.1;
        margin-bottom: 6px;
        @media screen and (max-width: 768px) {
            font-size: 32px;
        }
    }
    span {
        font-size: clamp(12px, 1.127rem + 0.36vw, 1.4rem);
        line-height: 1;
        display: block;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.concept__intro__wrap {
    width: 66.66%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
    margin-bottom: 24rem;
    
    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 0;
        margin-bottom: 160px;
    }
    strong {
        font-size: clamp(28px, 2.364rem + 2.18vw, 4rem);
        display: block;
        line-height: 2.5em;
        margin-bottom: 3rem;
        letter-spacing: 0.1em;
        @media screen and (max-width: 768px) {
            font-size: 4.5vw;
            margin-bottom: 30px;
        }
    }
    p {
        font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
        line-height: 4;
        margin-bottom: 6rem;
        font-weight: 400;
        @media screen and (max-width: 768px) {
            font-size: 16px;
            margin-bottom: 60px;
            line-height: 2.5em;
        }
    }
}

.megureno__wrap {
    margin-bottom: 32.5rem;
    @media screen and (max-width: 768px) {
        margin-bottom: 160px;
    }
    .flex {
        align-items: flex-start;
        .megureno__left {
            width: 51.19%;
            position: relative;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            img {
                position: absolute;
                width: 74.26%;
                top: 0;
                left: 0;
            }
            div {
                width: 43.03%;
                margin-left: auto;
                margin-top: 24rem;
                @media screen and (max-width: 768px) {
                    width: 85%;
                    margin-right: auto;
                }
                & > p {
                    font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
                    line-height: 2.56em;
                    margin-bottom: 4rem;
                    @media screen and (max-width: 768px) {
                        font-size: 16px;
                        margin-bottom: 40px;
                    }
                }
            }
        }
        .megureno__img {
            width: 48.80%;
            padding-top: 52%;
            @include v.bg;
            background-image: url(./../../images/concept/megureno_img.jpg);
            @media screen and (max-width: 768px) {
                width: 92.753%;
                padding-top: 93.75%;
                margin-left: auto;
            }
        }
    }
}

.modelroom__container {
    .sec01 {
        width: 66.66%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5.7rem;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 32px;
            h3 {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        figure {
            img {
                width: 100%;
                @media screen and (max-width: 768px) {
                    width: 92.753%;
                    margin-right: auto;
                }
            }
        }
    }
    .sec02 {
        width: 81.25%;
        margin-left: 14.583%;
        margin-right: auto;
        margin-bottom: 5.7rem;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 24px;
            margin-left: 0;
        }
        figure {
            img {
                width: 100%;
            }
        }
    }
    .sec03 {
        width: 85.416%;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 24rem;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 120px;
        }
        figure {
            img {
                width: 100%;
            }
        }
    }
}