@charset "UTF-8";
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}

.min_container {
  width: 960px;
  margin: 0 auto;
}

.container {
  min-width: 1020px;
  margin: 0 auto;
  width: 79%;
}

.smallest_container {
  width: 640px;
  margin: 0 auto;
}

br.sp {
  display: none;
}

br.pc {
  display: block;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.non_image {
  background-image: url(../images/common/non_image.jpg);
}

.flex--start {
  justify-content: flex-start;
}

.transition {
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}

@keyframes hoverRight {
  from {
    left: calc(-100% + 10px);
  }
  to {
    left: calc(100% - 10px);
  }
}
.common__btn {
  font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
  color: #252014;
  font-weight: 500;
  display: inline-block;
  width: 7.5vw;
  min-width: 150px;
}
.common__btn p {
  writing-mode: horizontal-tb !important;
  width: 73%;
}
.common__btn div.flex {
  position: relative;
  width: 100%;
  align-items: center;
}
.common__btn div.flex .common__btn--line {
  position: relative;
}
.common__btn div.flex:hover span:nth-of-type(2) {
  left: calc(100% - 10px);
}
.common__btn div.flex span:nth-of-type(1) {
  width: 64px;
  display: block;
  height: 1px;
  background-color: #252014;
  margin: auto;
}
.common__btn div.flex span:nth-of-type(2) {
  width: 10px;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: -1px;
  height: 3px;
  border-radius: 10px;
  background-color: #252014;
  margin: auto;
  left: calc(-100% + 10px);
  transition: all 0.3s;
}

.common__btn--white {
  color: #fff;
}
.common__btn--white div.flex span {
  background-color: #fff !important;
}

h2.sec__ttl {
  font-size: clamp(22px, 1.836rem + 1.82vw, 3.2rem);
  font-weight: 500;
  margin-bottom: 2.4rem;
  justify-content: flex-start;
}
h2.sec__ttl span {
  font-size: clamp(11px, 0.855rem + 0.73vw, 1.4rem);
  font-weight: 400;
  margin-left: 16px;
}

.nav__wrap--btn a.nav__btn--contact {
  width: 100%;
  border-radius: 50px;
  color: #fff;
  font-size: clamp(12px, 0.982rem + 1.09vw, 1.8rem);
  background-color: #BB9B52;
  text-align: center;
  display: block;
  padding: 2rem 0;
  margin-bottom: 3rem;
}
.nav__wrap--btn a.nav__btn--small {
  border: 1px solid #BB9B52;
  background-color: #fff;
  color: #BB9B52;
  width: 45%;
}

/*-------------------------
ヘッダー
-------------------------*/
#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#header .header__container {
  width: 91.6%;
  margin: auto;
}
#header .header__container > .flex {
  justify-content: space-between;
  align-items: flex-start;
}
#header .header__container a.header__logo {
  width: 100px;
}
#header .header__container a.header__logo img {
  width: 90%;
}
#header .header__container .header__right .flex a.header__contact {
  width: 200px;
  display: block;
  background-color: #BB9B52;
  color: #fff;
  font-size: clamp(12px, 0.982rem + 1.09vw, 1.8rem);
  text-align: center;
  padding: 27px 0;
  letter-spacing: 0.08em;
}

#toggle {
  width: 80px;
  position: relative;
  height: 50px;
  cursor: pointer;
}
#toggle div {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 13px;
  transform: translate(-50%, -50%);
}
#toggle div span {
  width: 40px;
  height: 2px;
  display: block;
  background-color: #BB9B52;
  transition: all 0.3s;
}
#toggle div span:nth-of-type(2) {
  transform: translateY(8px);
}

/*-------------------------
gnav
-------------------------*/
#gnav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -5000;
}
#gnav::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #252014;
  opacity: 0;
  transition: all 0.5s;
  display: block;
  z-index: -5000;
  position: absolute;
  left: 0;
  top: 0;
}
#gnav .gnav__container {
  width: 28.8%;
  box-sizing: border-box;
  background: #252014;
  padding: 8rem 8.5rem 0 8.5rem;
  height: 100%;
  margin-left: auto;
  right: -100%;
  transition: all 0.8s;
  position: absolute;
}
#gnav .gnav__container .nav__content ul {
  flex-wrap: wrap;
  border-bottom: 1px solid #fff;
  margin-bottom: 4rem;
}
#gnav .gnav__container .nav__content ul:nth-of-type(2) {
  border-bottom: none;
}
#gnav .gnav__container .nav__content ul li {
  margin-bottom: 4rem;
}
#gnav .gnav__container .nav__content ul li:nth-child(odd) {
  width: 60%;
}
#gnav .gnav__container .nav__content ul li:nth-child(even) {
  width: 40%;
}
#gnav .gnav__container .nav__content ul li a {
  color: #fff;
}
#gnav .gnav__container .nav__content ul li a p {
  font-size: clamp(12px, 0.982rem + 1.09vw, 1.8rem);
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
}
#gnav .gnav__container .nav__content ul li a span {
  font-size: clamp(11px, 0.855rem + 0.73vw, 1.4rem);
}

.open #gnav {
  z-index: 5000;
  opacity: 1;
  display: block;
}
.open #gnav::before {
  opacity: 0.5;
  z-index: 500;
  display: block;
}
.open #gnav .gnav__container {
  right: 0;
  z-index: 5000;
}
.open #toggle div span:nth-of-type(1) {
  transform: translateY(2px) rotate(25deg);
}
.open #toggle div span:nth-of-type(2) {
  transform: translateY(0) rotate(-25deg);
}

/*-------------------------
    contact
-------------------------*/
#contact {
  width: 100%;
}
#contact .contact__container .flex .contact__thumb {
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../images/common/contact_bg.jpg);
}
#contact .contact__container .flex .contact__content {
  width: 50%;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../images/common/contact.jpg);
}
#contact .contact__container .flex .contact__content .contact__content__wrap {
  width: 40%;
  margin-left: 12rem;
}
#contact .contact__container .flex .contact__content .contact__content__wrap p {
  font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
  line-height: 1.875em;
  margin-bottom: 3.2rem;
}

/*-------------------------
    footer
-------------------------*/
#footer {
  width: 100%;
  padding-top: 6.4rem;
}
#footer small {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #BB9B52;
  margin-bottom: 6.6rem;
  font-size: 12px;
}
#footer .container {
  width: 57.2916%;
  padding-bottom: 6.4rem;
  margin: auto;
}
#footer .container .footer__left a.ft__logo img {
  margin-bottom: 2.4rem;
}
#footer .container .footer__left p {
  color: #252014;
  margin-bottom: 1.5rem;
}
#footer .container .footer__left p strong {
  font-size: clamp(12px, 0.982rem + 1.09vw, 1.8rem);
  display: block;
}
#footer .container .footer__left p span {
  font-size: clamp(11px, 0.855rem + 0.73vw, 1.4rem);
  display: block;
}
#footer .container .footer__left a.tel {
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}
#footer .container .footer__left a.tel img {
  margin-right: 16px;
}
#footer .container .footer__left a.tel span {
  font-size: clamp(22px, 1.836rem + 1.82vw, 3.2rem);
  color: #252014;
  font-weight: 500;
}
#footer .container .ft__right {
  width: 45%;
}
#footer .container .ft__right ul {
  flex-wrap: wrap;
}
#footer .container .ft__right ul li {
  width: 33%;
  margin-bottom: 2.4rem;
}
#footer .container .ft__right ul li a {
  color: #252014;
  font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
}

.single__container {
  padding-top: 8rem;
  width: 62.5%;
  margin: auto auto 12rem auto;
}
.single__container .single__ttl .single__time {
  justify-content: flex-start;
  margin-bottom: 12px;
}
.single__container .single__ttl .single__time span.new {
  display: inline-block;
  background-color: #BB9B52;
  color: #fff;
  font-size: 14px;
  width: 42px;
  text-align: center;
  margin-right: 10px;
  font-weight: 500;
}
.single__container .single__ttl .single__time span.time {
  font-size: 14px;
  color: #707070;
  font-weight: 500;
}
.single__container .single__ttl h1 {
  font-size: clamp(17px, 1.445rem + 1.27vw, 2.4rem);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;
}
.single__container .single__content {
  margin: 40px 0;
}
.single__container .single__img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.single__container .wide__img {
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 16px;
}
.single__container .vertical__wrap {
  justify-content: space-between;
  flex-wrap: wrap;
}
.single__container .vertical__img {
  width: 49.333%;
  padding-top: 74.93%;
  margin-bottom: 16px;
}
.single__container .works__spec {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../../images/works/spec_bg.jpg);
  box-sizing: border-box;
  padding: 4rem 10rem;
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}
.single__container .works__spec .spec__container ul li {
  width: 26%;
}
.single__container .works__spec .spec__container ul li span.spec__ttl {
  font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
  color: #252014;
  border-bottom: 2px solid #BB9B52;
  padding-left: 20px;
  display: block;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 4px;
}
.single__container .works__spec .spec__container ul li span.spec__ttl::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #BB9B52;
  position: absolute;
  left: 0;
  top: -8px;
  bottom: 0;
  margin: auto;
}
.single__container .works__spec .spec__container ul li p {
  font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
  font-weight: 500;
  line-height: 1.4;
}
.single__container .works__voice {
  box-sizing: border-box;
  padding: 0 10rem;
  margin-bottom: 6.4rem;
}
.single__container .works__voice ul li {
  width: 100%;
  margin-bottom: 6.4rem;
}
.single__container .works__voice ul li span.spec__ttl {
  font-size: clamp(14px, 1.182rem + 1.09vw, 2rem);
  color: #252014;
  border-bottom: 2px solid #BB9B52;
  padding-left: 20px;
  display: block;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 4px;
}
.single__container .works__voice ul li span.spec__ttl::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #BB9B52;
  position: absolute;
  left: 0;
  top: -8px;
  bottom: 0;
  margin: auto;
}
.single__container .works__voice ul li p {
  font-size: clamp(11px, 0.918rem + 0.91vw, 1.6rem);
  font-weight: 400;
  line-height: 2.56;
}
.single__container .contact__wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-top: 6.4rem;
  padding-bottom: 8rem;
  background-color: #BB9B52;
  margin-bottom: 8rem;
}
.single__container .contact__wrapper .contact__container {
  width: 66.666%;
  margin: auto;
}
.single__container .contact__wrapper .contact__container h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 4rem;
}
.single__container .contact__wrapper .contact__container h3 span {
  font-size: clamp(22px, 1.836rem + 1.82vw, 3.2rem);
  display: block;
  font-weight: 400;
  font-family: "Roboto";
}
.single__container .contact__wrapper .contact__container h3 p {
  font-size: 14px;
  font-weight: 400;
}
.single__container .contact__wrapper .contact__container .contact__content dl {
  margin-bottom: 4rem;
}
.single__container .contact__wrapper .contact__container .contact__content dl:last-of-type {
  align-items: flex-start;
}
.single__container .contact__wrapper .contact__container .contact__content dl dt {
  width: 26.25%;
  font-size: clamp(13px, 1.118rem + 0.91vw, 1.8rem);
  color: #fff;
}
.single__container .contact__wrapper .contact__container .contact__content dl dd {
  width: 73.75%;
}
.single__container .contact__wrapper .contact__container .contact__content dl dd input, .single__container .contact__wrapper .contact__container .contact__content dl dd textarea {
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  border: none;
  font-size: clamp(1.1rem, 0.918rem + 0.91vw, 1.6rem);
}
.single__container .contact__wrapper .contact__container .contact__content input.confirm {
  width: 48%;
  text-align: center;
  border-radius: 50px;
  color: #BB9B52;
  padding: 19px 0;
  margin: 6.4rem auto auto auto;
  font-weight: bold;
  display: block;
}
.single__container .common__btn p {
  margin-left: 10px;
}/*# sourceMappingURL=index.css.map */